<a href="https://colab.research.google.com/github/hyesuun/class2022Spring/blob/main/2022_0316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1

In [ ]:
print(a)

1

print(변수)하면 변수 안에 있는 내용이 나온다

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
a=1.1; print(type(a))

<class 'float'>

print(type(변수))하면 변수의 type=유형이 나온다.
정수는 int, 실수는 float

In [ ]:
a='123'; print(type(a))

<class 'str'>

In [ ]:
a='hello'; print(a); print(type(a))

hello
<class 'str'>

string을 넣는 방법은 ''또는 ""사용하기

In [ ]:
a=[1,2,3,4]; print(type(a))

<class 'list'>

In [ ]:
b=[1,'a',[3,'4']]; print(type(a))

<class 'list'>

list는 [  ]를 사용해서 나타낸다. 리스트 안에는 number, string, list가 다 들어갈 수 있다.

In [ ]:
print(a[0])
a[2]

1

3

4아이템 중에 몇 개만 꺼내 쓰는 거를 indexing이라고 한다. 
꺼내쓸 때는 print(변수[순서])로 치면 된다. 마지막 줄에 오는 index의 경우에는 print를 치지 않고 변수[순서]라고만 쳐도 된다. 순서는 0부터 시작한다. a[:]는 전부다 라는 뜻

In [ ]:
print(a[1:2]); a[0:3]

[2]

[1, 2, 3]

a[1:2]라고 하면 1번째부터 2번째 전까지 꺼내라는 뜻. 즉, 2만 나온다.
a[0:3]라고 하면 0번째부터 3번째 전까지라는 뜻. 즉, 1,2만 나온다.

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
print(a[2:]);print(a[1:-1])

[3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9]

a[1:-1]은 1번째부터 끝에서 -1까지 꺼내라는 뜻

In [ ]:
b=[1,'a',[3,'4']]

In [ ]:
print(b[2][0])
b[2][1]

3

'4'

b안에 들어있는 리스트에서 특정 수만 꺼내고 싶으면 b[2][1]이런 방식으로 치기

In [ ]:
a='abcdef123'

In [ ]:
print(a[:3])
a[3:-1]

abc

'def12'

string에서도 list와 마찬가지로 특정 변수만 꺼내올 수 있다. a[  ] 이런 방식으로

In [ ]:
a=[1,2,3]

In [ ]:
a[1]=0

In [ ]:
print(a)

[1, 0, 3]

변수에는 숫자, string, list(tuple), dict가 있다. 
list는 a[1,2,3]
tuple은 a(1,2,3) tuple은 list와 다르게 안에 들어있는 항목을 바꾸지 못한다.

In [ ]:
a={'a':'apple','b':'orange',c:2014}

In [ ]:
type(a)

dict

In [ ]:
print(a['a'])
a[c]

apple

2014

"a"가 key, "apple"이 value. dict는 앞에 있는 key, 제목값에 접근할 수 있게 한다. 그래서 a['a']라고 치면 apple이 나온다. 

---
여기까지 변수

In [1]:
s='abcdef'
print(s[0],s[5],s[-1],s[-6])
print(s[1:3],s[1:],s[:3],s[:])

a f f a
bc bcdef abc abcdef

In [4]:
n=[100,200,300]
print(n[0],n[2],n[-1],n[-3])
print(n[1:2],n[1:],n[:2],n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

string, list에서 index하는 방법 동일

In [5]:
len(s)

6

len(s)는 s의 길이를 말한다.

In [6]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [7]:
s.upper()

'ABCDEF'

In [10]:
c='apple'
c.upper()

'APPLE'

s.upper()  s를 대문자로 만들어라

In [27]:
s=' this is a house built this year.'
s

' this is a house built this year.'

In [15]:
result=s.find('house')
result

11

s에서 house를 찾고 그 값을 result에 넣어라.
이 때 10은 house가 10번째에 시작한다는 뜻

In [28]:
s=s.strip()
s

'this is a house built this year.'

s.strip()-s의 처음이나 끝에 있는 whitespace가 있으면 지워라.
그리고 그거를 다시 s에 담아라

In [29]:
tokens=s.split(' ')
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

s.split(' ')-빈칸을 중심으로 쪼개서 리스트를 만들어라. 그리고 그거를 tokens에 넣어라. 빈칸은 리스트에 포함되지 않는다.

In [24]:
s=s.split('e')
s

['this is a hous', ' built this y', 'ar.']

여기서도 마찬가지로 e는 리스트에 포함되지 않는다.

In [31]:
s=' '.join(tokens)
s

'this is a house built this year.'

다시 원래 문장으로 돌이키고 싶다면 ' '.join(tokens)-빈칸을 다시 붙여라.

In [32]:
s=s.replace('this','that')
s

'that is a house built that year.'

In [33]:
s=s.replace('is','are')
s

'that are a house built that year.'

s.replace('단어','단어')-s안에 있는 단어를 다른 단어로 바꾸고 싶을 때


---
여기부터 function

In [34]:
def add(a,b):
  return a+b

In [35]:
c=add(1,2)
c

3

def: define, 함수를 정의한다.  

*   def 함수명(입력변수1,입력변수2):
*   return 출력변수명

In [40]:
def subtract(a,b):
  c=a-b
  return c

In [41]:
subtract(5,3)

2

---
여기부터 syntax


*   반복문 for
*   조건문 if