<a href="https://colab.research.google.com/github/hyesuun/class2022Spring/blob/main/2022_0316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
a=1

In [13]:
print(a)

1

print(변수)하면 변수 안에 있는 내용이 나온다

In [14]:
print(type(a))

<class 'int'>

In [15]:
a=1.1; print(type(a))

<class 'float'>

print(type(변수))하면 변수의 type=유형이 나온다.
정수는 int, 실수는 float

In [16]:
a='123'; print(type(a))

<class 'str'>

In [17]:
a='hello'; print(a); print(type(a))

hello
<class 'str'>

string을 넣는 방법은 ''또는 ""사용하기

In [21]:
a=[1,2,3,4]; print(type(a))

<class 'list'>

In [20]:
b=[1,'a',[3,'4']]; print(type(a))

<class 'list'>

변수에는 숫자(number), 문자(string), list가 있다. 
list는 [  ]를 사용해서 나타낸다. 리스트 안에는 number, string, list가 다 들어갈 수 있다.

In [24]:
print(a[0])
a[2]

1

3

4아이템 중에 몇 개만 꺼내 쓰는 거를 indexing이라고 한다. 
꺼내쓸 때는 print(변수[순서])로 치면 된다. 마지막 줄에 오는 index의 경우에는 print를 치지 않고 변수[순서]라고만 쳐도 된다. 순서는 0부터 시작한다. a[:]는 전부다 라는 뜻

In [26]:
print(a[1:2]); a[0:3]

[2]

[1, 2, 3]

a[1:2]라고 하면 1번째부터 2번째 전까지 꺼내라는 뜻. 즉, 2만 나온다.
a[0:3]라고 하면 0번째부터 3번째 전까지라는 뜻. 즉, 1,2만 나온다.

In [27]:
a=[1,2,3,4,5,6,7,8,9,10]

In [28]:
print(a[2:]);print(a[1:-1])

[3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9]

a[1:-1]은 1번째부터 끝에서 -1까지 꺼내라는 뜻

In [30]:
b=[1,'a',[3,'4']]

In [31]:
print(b[2][0])
b[2][1]

3

'4'

b안에 들어있는 리스트에서 특정 수만 꺼내고 싶으면 b[2][1]이런 방식으로 치기

In [32]:
a='abcdef123'

In [33]:
print(a[:3])
a[3:-1]

abc

'def12'

string에서도 list와 마찬가지로 특정 변수만 꺼내올 수 있다. a[  ] 이런 방식으로

In [34]:
a=[1,2,3]

In [35]:
a[1]=0

In [36]:
print(a)

[1, 0, 3]

변수에는 숫자, string, list(tuple), dict가 있다. 
list는 a[1,2,3]
tuple은 a(1,2,3) tuple은 list와 다르게 안에 들어있는 항목을 바꾸지 못한다.