<a href="https://colab.research.google.com/github/hyesuun/class2022Spring/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

machine learning(기계학습)
파이썬에서 machine learning을 제공하는 걸 배울 건데 그게 scikit_learn.
machine learning에 deep learning이 포함되는 개념. 
deep learning은 인공신경망(=artificial neural network)이라고 생각하면 됨. 
machine learning할 때 크게 두 가지로 이해할 수 있음. 
하나는 supervised learning. (x, y 둘 다 있는 거, 입출력이 둘 다 있는 거 즉, 함수를 얘기하는 거임.)
이게 다시 두 개로 분류됨. 
하나는 regression  입력에 어떤 숫자를 넣고 그 결과로 다른 숫자가 나오는 거. 
예를 들어 y=-x+3
x에 5를 넣으면 출력으로 -2가 나오겠지. 숫자가 들어가서 숫자가 나오는게 regression. 입출력이 둘 다 숫자.
나머지는 classification
입력이 뭐가 되든, 출력이 카테고리가 되는 경우. 예를 들어서 입력값에 이메일을 넣어. 이게 스팸인지 아닌지 카테고리를 구분하는 거. 숫자를 썼는데 이게 1,2,3인지 인식해주는 거. digit recognition같은 거지. 결국 출력값이 숫자가 나오는지 카테고리가 나오는지에 따라 regression이랑 classification이 구분됨. 
또 다른 하나는 unsupervised learning. (x, y 중 하나만 있는거)
이거도 다시 두 개로 분류됨
dimensionality
차원을 바꾸는 거. 예를 들어서 2차원을 1차원으로
clustering
예를 들어서 숫자를 필기체로 써. 그 다음에 비슷해 보이는 숫자들끼리 5개로 나눠라.
어쨋든 여기서 제일 중요한 거는
supervised learning은 입출력을 반드시 가정한다. 
unsupervised는 그냥 데이터. 함수를 가정하지 않고 dimensionality, clusting같은 작업을 하는 거.

regression에서 가장 대표적인 것이 linear regression(y=ax+b) 아래에서 나오는 게 linear regression.

In [1]:
import seaborn as sns
df = sns.load_dataset('iris')

In [2]:
type(df)

pandas.core.frame.DataFrame

iris의 type이 dataframe이라는 거를 알 수 있지

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df

df.head()이렇게 하면 그 데이터의 앞부분 5개 정도 보여줘
그냥 df라고 치면 그 데이터 모두 다 보여주지. 
iris데이터는 총 150개의 붓꽃 데이터를 측정해서 정리한거. 
붓꽃에는 종류 3개 정도 있는데 setosa, versicolor,virginica.
지금 이 3가지 종류를 정리한거.